.home {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 6rem;
}
.searchInput {
  width: 300px;
  margin-bottom: 2rem;
  border: 1px solid #82add3;
  border-radius: 10px;
  background-color: transparent;
  color: rgba(26, 35, 120, 1);
  font-size: 1rem;
  padding: 0;

  padding-left: 1rem;
  height: 3rem;
}
@media (max-width: 320px) {
  .searchInput {
    width: 200px;
    padding-right: 1rem;
  }
}
