.header {
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
  justify-content: space-around;
  align-items: center;
  background-color: #82add3;
}
.title {
  color: white;
  font-size: 2rem;
  font-style: italic;
}
.navigation {
  width: 50%;
  display: flex;
  justify-content: space-around;
}
.navigation a {
  text-decoration: none;
  color: white;
  transition: transform 0.5s;
}
.navigation a:hover {
  transform: scale(1.25);
}
.burger {
  width: 25px;
  height: 3px;
  background-color: #fff;
  position: relative;
}
.burger::after,
.burger::before {
  content: "";
  width: 25px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top: 8px;
  left: 0;
}
.burger::before {
  top: -8px;
  left: 0;
}
.burgerNavigation {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50vw;
  height: 100vh;
  position: fixed;
  top: 0;

  background-color: #82add3;
  transition: right 1s;
}
.burgerNavigation a {
  color: white;
  text-decoration: none;
  margin-bottom: 3rem;
}
.close {
  width: 25px;
  height: 3px;
  background-color: #fff;
  transform: rotate(-45deg);
  border-radius: 10px;
  margin-top: 5rem;
  margin-bottom: 3rem;
}
.close::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 3px;
  background-color: #fff;
  transform: rotate(-90deg);
  border-radius: 10px;
  left: 0;
  margin: 0 auto;
}

@media (max-width: 414px) {
  .title {
    font-size: 1rem;
  }
}
@media (max-width: 320px) {
  .title {
    font-size: 0.8rem;
  }
  .navigation a {
    font-size: 0.7rem;
  }
}
